.head {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.customers {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 35px;
  font-weight: 500;
  font-size: 20px;
  color: #505151;
  margin-bottom: 3%;
}

.mainDiv_buttons {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  height: 60px;
  width: 250px;
  border-radius: 10px;
}

.icons {
  display: flex;
  height: 90%;
  margin-top: 5px;
  width: 100%;
  justify-content: space-around;
}

.icons div {
  display: flex;
  background-color: #f5f5f5;
  height: 90%;
  align-items: center;
  justify-content: center;
  width: 20%;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}

.icons .add {
  background-color: #d3e8d3;
  cursor: pointer;
}

.icons .add:hover {
  background-color: #c2d7c2;
}

.icons .edit {
  background-color: #fff8c5;
  cursor: pointer;
}

.icons .edit:hover {
  background-color: #e7e1b2;
}

.icons .delete {
  background-color: #fca2a2;
  cursor: pointer;
}

.icons .delete:hover {
  background-color: #e99696;
}

/* TABLE */

.table {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 2%;
}

.thead tr {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border: 2px solid #cdcdcd;
  height: 35px;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.thead tr th {
  width: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tbody tr {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  border: 2px solid #cdcdcd;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: left;
  color: #505151;
  cursor: pointer;
}

.tbody tr td {
  width: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.selectedRow {
  background-color: #d8e7fb !important;
}

.disabled {
  pointer-events: none;
  background-color: #f4f4f4 !important;
}

a {
  border-radius: 50%;
}

.edit div {
  display: flex;
  justify-content: center;
  width: 50px;
  cursor: pointer;
  align-items: center;
  height: 51px;
}

.paginationBttns {
  display: flex;
  width: 35%;
  justify-content: flex-end;
  list-style: none;
}

.paginationBttns a {
  display: flex;
  padding: 5px;
  margin-left: 10px;
  background-color: #f5f5f5;
  border: 1px solid #bebebe;
  justify-content: center;
  width: 20px;
  border-radius: 20%;
  cursor: pointer;
}

.paginationActive a {
  background-color: #d8e7fb;
}
